@import url("//cdn.web-fonts.ge/fonts/alk-rounded-mtav-med/css/alk-rounded-mtav-med.min.css");

$color-dark: #262726;
$color-light-dark: #545454;
$color-green: #1c9c84;
$color-dark-green: #207363;
$color-white: #cecece;

$font-geo: "ALK Rounded Mtav Med", sans-serif;
